body {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 100%;
    margin: 0;
}

/* -----Sidebar----- */

.sidebar {
    background-color: rgb(25, 146, 212);
    color: white;

    align-items: center;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(12, 50px);

    padding: 50px;
    padding-top: 10px;
}

.logo_icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
}

.icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-self: center;
    justify-self: center;
    gap: 5px;
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

.menu_element {
    font-size: 25px;
}

/* -----Principal body----- */

.principal_body {
    grid-column: 2 / 5; 

    display: grid;
    grid-template-columns: minmax(60rem, 5fr) minmax(20rem, 2fr);
    grid-template-rows: auto 1fr;
}

/* -----Header----- */

.header {
    background-color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 10px;
}

.header_element {
    align-self: center;
}

.top_functionality {
    display: grid;
    grid-template-columns: minmax(5rem, 0.5fr) repeat(5, minmax(10rem, 2fr)) minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(10rem, 1fr);
}

.search_bar {
    grid-column: 2 / 6;
    background-color: #E2E8F0;
    border-radius: 16px;
    height: 30px;
}

.user_image_mini {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user_name {
    font-size: 20px;
}

.user_functionality {
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) minmax(20rem, 3fr) minmax(10rem, 3fr) repeat(3, minmax(10rem, 1fr));
    grid-template-rows: 100px;
    padding-right: 150px;
}

.user_image {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.greetings_user_name {
    font-size: 25px;
}

.header_element.button {
    color: white;
    font-size: 20px;
    background-color: rgb(25, 146, 212);
    border-radius: 24px;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/* -----Projects----- */

.projects_section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

.projects_title {
    background-color: #E2E8F0;
    padding-left: 80px;
    height: 40px;
}

.projects_content {
    background-color: #E2E8F0;

    display: grid;
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
    grid-template-rows: repeat(3, minmax(10rem, 1fr));
    gap: 40px;
    padding: 60px;
    padding-top: 10px;

    justify-content: center;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 6px hsl(206, 3%, 53%);

    display: grid;
    grid-template-columns: minmax(1%, 0.5rem) minmax(10rem, 99%);
}

.yellow_stripe {
    background-color: rgb(236, 180, 4);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.principal_content {
    display: grid;
    grid-template-columns: minmax(12rem, 100%);
    grid-template-rows: minmax(6rem, 60%) minmax(2rem, 40%);
    padding: 20px;
}

.project_text_content {
    background-color: white;
    font-size: 20px;
}

.project_functionality_content {
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, minmax(2rem, 10%));
    justify-content: end;
    align-items: end;
    padding: 10px;
    gap: 20px;
}

.project_functionality_icon {
    width: 30px;
    height: auto;
}

/* -----Information----- */

.information_content {
    /*background-color: #E2E8F0;*/
    background-color: #E2E8F0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: minmax(10rem, 75%);
    grid-auto-rows: auto;
    padding: 10px;
    padding-bottom: 3rem;
    justify-content: center;
    gap: 10px;
}

.announcements, .trending {
    background-color: #E2E8F0;

    display: grid;
    grid-template-columns: minmax(10rem, 100%);
    grid-template-rows: minmax(2rem, 10%) auto;
}

.information_element .title{
    font-size: 20px;
}

.announcement_box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 6px hsl(206, 3%, 53%);

    display: grid;
    grid-template-columns: minmax(10rem, 15rem);
    justify-content: center;
}

.gray_divisor {
    border-bottom: 1px solid hwb(206 52% 45% / 0.541);
}

.announcement_text_title {
    font-size: 20px;
}

.announcement_text {
    font-size: 15px;
}

.trending_box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 6px hsl(206, 3%, 53%);

    display: grid;
    grid-template-columns: minmax(8rem, 15rem);
    grid-template-rows: repeat(4, minmax(1rem, 1fr));   
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.trending_text {
    background-color: white;

    display: grid;
    grid-template-columns: minmax(20%, 2rem) minmax(3rem, 80%);
}

.trending_user_icon {
    width: 45px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-self: center;
    justify-self: center;
}

.trending_user_name {
    font-size: 15px;
}